.photo-1 {
    background-image: url("../images/Original.png");
}

.photo-2 {
    background-image: url("../images/laptop.jpg");
}

.photo-3 {
    background-image: url("../images/djwebdev.png");
}

.face-1 {
    background-image: url("../images/Dawid%20Janota.jpg");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    color: #373737;
}

h1 {
    font-size: 30px;
    line-height: 30px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
}

h5 {
    font-size: 14px;
    line-height: 30px;
    color: #aeaeae;
    text-transform: uppercase;
}

/*Buttons*/
.btn {
    width: 150px;
    height: 45px;
    background: #b88b58;
    border-style: none;
    border-radius: 45px 20px;
    text-align: center;

}

.btn:hover {
    background-color: #fff;
    border-style: none;
    text-align: center;

}

/*Buttons*/

/*Menu*/
.menu {
    background-color: #000;
    color: #fff;
    width: 100%;
}

.menu .nav {
    width: 1200px;
    margin: 0 auto;
    height: 120px;

}

/*Logo*/
.menu .nav .logo a {
    float: left;
    margin: 15px 0px 0px -50px;
    height: 90px;
    width: 280px;
    display: inline-block;
    line-height: 100px;
    background-image: url("../images/logo_png.png");
    background-size: cover;
    cursor: pointer;
}

/*Logo*/
.menu .nav ul {
    float: right;
    margin: 0px;
    padding: 15px;
    height: 120px;
    display: inline-block;
}

.menu .nav ul li {
    display: inline-block;
    float: left;
    padding: 5px 15px 90px;
    height: 100px;
}

.menu .nav ul li:hover {
    cursor: pointer;
    border-bottom: 5px dotted #b88b58;
}

.menu .nav ul a * {
    text-decoration: none;
    font-family: "Montserrat";
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    height: 105px;
    line-height: 80px;
}

/*Menu*/
/*Main*/
.main img {
    width: 100%;
    height: 100%;
}

.main * {
    color: #fff;
}

.main .hero {
    position: relative;
    margin: 40px auto;
    top: -650px
}

.main .hero * {
    margin: 20px auto;
}

.main .hero h1 {
    text-transform: uppercase;
    font-weight: 700px;
    font-size: 90px;
    line-height: 80px;
}

.main .hero h1 span {
    color: #b88b58;
}

.main .hero h4 {
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}

/*Main Button*/
.btdown {
    position: relative;
    width: 100%;
    height: 100%;
}

.btdown::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 80%, rgba(0, 0, 0, .8) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 80%, rgba(0, 0, 0, .8) 100%);
}

.demo a {
    position: absolute;
    bottom: 20px;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font: normal 400 20px/1 'Montserrat';
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

.demo a:hover {
    opacity: .5;
}

#knowme a {
    padding-top: 0px;
}

#knowme a span {
    position: absolute;
    top: 70px;
    left: 50%;
    width: 56px;
    height: 56px;
    margin-left: -30px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
}

#knowme a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -11px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

#knowme a span:hover {
    border: 1px solid #b88b58;
}


#knowme a span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 54px;
    height: 54px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, .1);
    border-radius: 100%;
    -webkit-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb03 {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes sdb03 {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/*Main Button*/
/*Main*/
/*About*/
.about {
    margin-top: -300px;
    padding: 10px 0px 20px;
}

.about {
    background: #fff;
    height: 850px;
    padding: 40px;
}

.about .container {
    padding: 0 210px;
}

.about .face {
    width: 15vw;
    max-width: 320px;
    height: 15vw;
    max-height: 320px;
    margin: 40px auto 30px;
    background-size: cover;
    border: solid #B88B58;
    border-radius: 50%;
    border-radius: 50% 2%;
    transition: all 4s;
    transition-timing: ease-in-out;
    width: 320px;
}

.face:hover {
    transform: rotate(1080deg);
}


.about h3 {
    font-size: 24px;
    color: #000;
    font-weight: 700;
}

.about h6 {
    color: #7e7e7e;
    margin-bottom: 50px;
    font-size: 18px;
}

.about p {
    margin-bottom: 110px;
    color: #7e7e7e;
    font-size: 14px;
    font-weight: 300;
}

/*About*/
/*Stack*/
.stack {
    min-height: 400px;
    background: #1A1A1A;
    padding: 50px;
}

.stack h1 {
    color: #fff;
}

.stack h5 {
    color: #aeaeae;
}

.stack h3 {
    color: #fff;
    font-size: 18px;
}

.stack .ico {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-size: cover;
}

.skills .express img {

    background-color: #1A1A1A;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0px;
    font-size: 80px;
    box-sizing: border-box;
    line-height: 130px;
    text-align: center;
    color: #B88B58;
    margin-top: 30px;

}

.skills .redux img {

    background-color: #1A1A1A;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0px;
    font-size: 80px;
    box-sizing: border-box;
    line-height: 130px;
    text-align: center;
    color: #B88B58;
    margin-top: 30px;

}

.skills .ajax img {

    background-color: #1A1A1A;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0px;
    font-size: 80px;
    box-sizing: border-box;
    line-height: 130px;
    text-align: center;
    color: #B88B58;
    margin-top: 30px;

}

.skills .mern img {

    background-color: #1A1A1A;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0px;
    font-size: 80px;
    box-sizing: border-box;
    line-height: 130px;
    text-align: center;
    color: #B88B58;
    margin-top: 30px;
}

.skills .icon {
    background-color: #1A1A1A;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0px;
    font-size: 80px;
    box-sizing: border-box;
    line-height: 130px;
    text-align: center;
    color: #B88B58;
}

.stack .row {
    margin: 48px;
    border-left: 2px solid #bebebe;
}

.stack .row .col {
    border-right: 2px solid #bebebe;
    padding: 20px;
    height: 220px;
    width: 330px;
}

.stack #carousel-example-generic2 {
    height: 400px;
}

.stack #carousel-example-generic2 .carousel-inner {
    height: 220px;
}

.stack #carousel-example-generic2 .carousel-indicators {
    bottom: 0px;
}

.carousel-indicators li {
    border-color: #b88b58;
}

.carousel-indicators .active {
    background-color: #b88b58;
}

.carousel img {
    width: 100%;
}

/*Stack*/
/*Projects*/
.projects {
    padding: 0px;
    background-image: url(../images/photo-7.png);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.projects h1 {
    color: #000;
    margin-top: 230px;
}

.projects h5 {
    color: #c6cacc;
    font-weight: 100;
}


.tab-content {
    padding: 55px;
}

.projects .col {
    padding: 13px;
    margin: 1px;
    position: relative;
    overflow: hidden;
    height: 400px;
    width: 350px;

}

.projects .col .photo {
    height: 400px;
    width: 350px;
    margin: 1px;

    z-index: 3;
    background-size: cover;
    background-position: center;
    width: 100%;

}

.projects .col .layer {
    height: 400px;
    width: 350px;
    z-index: 2;
    width: calc(100% - 25px);
    position: absolute;
    top: 250px;
}

.projects .col .layer .photo-ico {
    cursor: pointer;
    width: 60%;
    font-size: 12px;
    margin: 55px auto;
    text-align: center;
    visibility: hidden;
}

.projects .col .layer .photo-ico h5 {
    font-size: 18px;
    padding: 0 0 0 5px;
    color: #fff;
}

.projects .col .layer .photo-ico p {
    color: #fff;
}

.projects .col:hover .layer {
    top: 12px;
    background: rgba(0, 0, 0, 0.8);
    transition: top 0.5s ease-in;
}

.projects .col:hover .photo-ico {
    visibility: visible;
    color: #b88b58;
    transition: 0.4s ease-in 0.5s;
}

/*Projects*/
/*Contact*/
.contact {
    padding: 50px;
    background-color: #1A1A1A;
    height: 800px;
}

.contact h1 {
    color: #fff;
}

.contact .ct-box {
    width: 550px;
    margin: 0 auto;
}

.contact .ct-box form {
    margin-top: 40px;
}

.form {
    margin: 0px auto;
    max-width: 500px;
}

.form .form-row {
    margin-bottom: 15px;
}

.form .form-row textarea {
    margin-top: 25px;
}


.form .form-row:last-child {
    margin-top: 20px;
}

.form input[type=text],
.form input[type=email],
.form textarea,
.form .checkbox-cnt .state {
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.07);
}

.contact .ct-box .form input[type=text] {
    width: 100%;
    border-radius: 5px;
    display: block;
    height: 40px;
    padding: 10px;
    color: black;

}

.contact .ct-box .form input[type=email] {
    width: 100%;
    border-radius: 5px;
    height: 40px;
    padding: 10px;
    color: black;

}

.contact .ct-box .form textarea {
    border-radius: 5px;
    font-family: 'Montserrat';
    padding: 10px;
    height: 80px;
    border: 1px solid #aaa;
    display: block;
    width: 100%;
    color: #666;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #ccc;
    -webkit-box-shadow: none;
    color: black;

}

.contact .ct-box .form input {
    border: none;
    border-bottom: 2px solid #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form input[type=text]:focus,
.form input[type=email]:focus,
.form textarea:focus {
    border-color: #b88b58;
    box-shadow: inset 0 0 0 1px #b88b58, inset 0 1px 5px rgba(0, 0, 0, 0.07);
    outline: none;
}

.form textarea {
    height: 10rem;
}

.form label {
    font-weight: bold;
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

/*Button Send Message*/
.form .btn {
    background: #b88b58;
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 12px;

}

.form .btn:hover {
    background: #fff;
    color: #b88b58;
}

/*Button Send Message*/

.form .checkbox-cnt {
    padding-left: 3rem;
    position: relative;
    font-weight: normal;
    font-size: 0.85rem;
    line-height: 1.1rem;
    color: #c6cacc;
    cursor: pointer;
}

.form .checkbox-cnt .state {
    width: 2rem;
    height: 2rem;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #c6cacc;
    border-radius: 0.2rem;
}

.form .checkbox-cnt .state:before {
    width: 1rem;
    height: 1rem;
    border-radius: 0.2rem;
    background: #b88b58;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    content: '';
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
}

.form .checkbox-cnt input:checked ~ .state:before {
    animation: checkboxShowAnim 0.5s 1;
    opacity: 1;
}

.form .checkbox-cnt input {
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    z-index: 2;
    cursor: pointer;
    padding: 0;
    margin: 0;
    opacity: 0;
}

.form input[type=text].error,
.form input[type=email].error,
.form textarea.error,
.form .checkbox-cnt input.error ~ .state {
    border-color: #E01546;
}

.field-error {
    color: #E01546;
    height: 10px;
    font-size: 0.8rem;
    text-align: center;
}

@keyframes checkboxShowAnim {
    0% {
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(0.2);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.element-is-busy {
    position: relative;
    pointer-events: none;
    opacity: 0.5;
}

.element-is-busy::after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0, 0, 0, 0.7);
    transform: translate(-50%, -50%) rotate(0deg);
    content: '';
    animation: rotateSingleLoading 0.3s infinite linear;
    z-index: 100;
}

@keyframes rotateSingleLoading {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.form .send-error {
    display: inline-block;
    font-family: 'Montserrat';
    font-size: 0.9rem;
    padding: 1rem 1.5rem;
    color: #E01546;
}

.form-send-success {
    font-family: 'Montserrat';
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #fff;
    color: #b88b58;
    padding: 10rem 0;
    margin: 3rem auto;
    max-width: 40rem;
}

.form-send-success strong {
    display: block;
    margin-bottom: 0.5rem;
}

.form-send-success span {
    font-size: 1rem;
    color: #fff;
    font-weight: normal;
    display: block;
}

.form span {
    color: #fff;
}

@media screen and (max-width:500px) {
    .form .submit-btn {
        display: block;
        width: 100%;
    }

    .form .send-error {
        text-align: center;
        display: block;
    }
}

/*Contact 2*/
.contact2 {
    background-color: #1A1A1A;
    color: #fff;
    margin-top: 130px;
}

.contact2 .social-button {
    color: #fff;
    border: 1px solid #fff;
    margin-top: 1vh;
}

.contact2 .social-button i {
    color: #fff;
}

.contact2 p {
    color: #c6cacc;
    font-weight: 100;
}

.contact2 h4 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #b88b58;
}

/*Social Buttons*/
.social-button {
    margin-top: 20px;
    width: 40px;
    height: 40px;
    background: none;
    border: 1px solid #fff;
}

.social-button i {
    font-size: 20px;
    color: #c6cacc;
}

.social-button:hover {
    background: #B88B58;
}

.social-button:hover i {
    color: #fff;
}

/*Social Buttons*/
/*Contact 2*/
/*Contact*/

/*Download*/
.download {
    padding-top: 10vh;
    padding-bottom: 10vh;
    height: 350px;
    width: 100%;
    text-decoration: none;

}

.download .btn a {
    margin-top: 2vh;
    color: #fff;
    border: 11px solid #b88b58;
    text-decoration: none;
    width: 160px;
    font-size: 12px;

}

.download .btn {
    border-style: solid;
    border-color: #b88b58;
}

.download .btn:hover a {
    color: #b88b58;
    background-color: #fff;
    text-decoration: none;
    border: 11px solid #fff;
    border-radius: 45px 20px;
    border-width: 13px;



}

/*Download*/

/*Footer*/
footer {
    background-color: #000000;
    padding: 20px 0 15px 0;
}

footer p {
    color: #808080;
}

footer p a {
    text-decoration: none;
    color: #fff;
}

footer p a:hover {
    color: #b88b58;
    text-decoration: none;
    cursor: pointer;

}

/*Footer*/
/*Modal*/
.modal-cont .modal-header,
.modal-sub .modal-header {
    background: #b88b58;
}

.modal-cont h1,
.modal-sub h1 {
    color: #b88b58;
}

/*Modal*/
/*Button back*/
#button {
    display: inline-block;
    background-color: #b88b58;
    width: 55px;
    height: 55px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    text-decoration: none;
    border-radius: 50%;

}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.7s;
}

#button:active {
    background-color: #b88b58;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

/*Button Back*/
/*Cookie Alert*/
#cookies-message {
    color: white;
    padding: 12px 10px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    display: none;
}

#accept-cookies-checkbox {
    background-color: #b88b58;
    color: #FFF;
    border: solid 1px #b88b58;
    transition: all 0.5s;
    padding: 2px 6px;
    border-radius: 4px;
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
    cursor: pointer
}

#accept-cookies-checkbox:hover {
    background-color: transparent;
    border-color: white;
}

/*
@media (max-width: 1360px) {

    .menu .nav {
        width: 1150px;

    }

    .main {
        height: 55vw;
    }

    .main #carousel-example-generic2 {
        height: 55vw;
    }

    .main #carousel-example-generic2 .carousel-inner {
        height: 55vw;
    }

    .main #carousel-example-generic2 .carousel-indicators {
        bottom: 4vw;
    }

    .main .hero {
        top: -40vw;
    }
*/

/*    about*/

/*
    .about {
        margin-top: -60px;
    }

    .about .container {
        padding: 10px;
    }

    
*/
/*about*/

/*
    .fixed {
        top: 530px;
        margin-top: -65px;
    }
}
*/

@media (min-width: 1200px) {

    .section {
        width: 1150px;
    }

    .menu {
        width: 100%;
    }

    .main {
        width: 100%;
    }

    .about {
        width: 100%;
    }

    .stack {
        width: 100%;
    }

    .projects {
        width: 100%
    }

    .contact {
        width: 100%
    }

    .download {
        width: 100%;
    }

    .footer {
        width: 100%;
    }






    /*
    .menu .nav {
        width: 960px;

    }

    .main .hero {
        top: -45vw;
    }
*/

    /*    about*/
    /*
    .about {
        margin-top: -50px;
    }

    .about .container {
        padding: 10px;
    }
*/


    /*about*/

    /*
    .team .row .col-fa {
        margin: 1.5vw 2px;
    }

    .clients .carousel-caption {
        padding: 0 8vw;
    }
*/
}

/*@media (max-width: 1200px) and (min-width: 1000px) {*/

/*
    .main .hero {
        top: -47vw;
    }

    .menu .nav {
        width: 100%;
        min-height: 200px;
    }
*/

/*    logo*/
/*
    .menu .nav .logo {
        margin: 20px calc(50% - 145px) 0;
        float: clear;
        height: 90px;
        width: 280px;
    }
*/

/*    logo*/

/*
    .menu .nav ul {
        width: 100%;
    }

    .menu .nav ul li {
        float: clear;
    }
*/

/*    about*/
/*
    .about {
        margin-top: -40px;
    }

    .about .container {
        padding: 10px;
    }
*/


/*about*/


/*
    .team .carousel img {
        height: 650px;
    }

    .team .row .col {
        padding: 0 20px;
    }

    .team .row .col .row .col {
        padding: 0;
    }

    .clients .face {
        width: 20vw;
        height: 20vw;
        margin: 20px auto;
    }

    .products .carousel-caption {
        height: 690px;
    }

    .products .btn {
        margin-top: 20px;
    }

    .footer .col-i {
        width: 5vw;
        height: 5vw;
    }

    .footer .col-i .fa {
        width: 5vw;
        height: 5vw;
        font-size: 20px;
        line-height: 5vw;
    }

    .footer .col-i .fa:hover {
        font-size: 22px;
    }

    .footer span {
        margin-top: 50px;
    }

    #myModal1 .modal-body #carousel-example-generic9 .carousel-control {
        top: 350px;
    }

    #myModal1 .modal-body #carousel-example-generic9 .right.carousel-control {
        left: inherit;
        right: -30px;
    }

    #myModal1 .modal-body #carousel-example-generic9 .left.carousel-control {
        left: inherit;
        right: 70px;
    }

    #myModal1 .modal-footer .modal-socials .modal-numbers {
        display: none;
    }
*/
}

/*@media (max-width: 1000px) and (min-width: 800px) {*/

/*    logo*/
/*
    .menu .nav .logo {
        margin: 20px calc(50% - 145px) 0;
        float: clear;
        height: 90px;
        width: 280px;
    }
*/

/*    logo*/


/*
    .main .hero {
        top: -55vw;
    }

    .main .hero h1 {
        font-size: 44px;
    }

    .menu .nav {
        min-height: 500px;
    }

    .menu .nav ul li {
        width: 40%;
        display: block;
        margin: 0 5%;
        text-align: center;
    }
*/

/*    about*/

/*
    .about {
        margin-top: -30px;
    }

    .about .container {
        padding: 10px;
    }
*/


/*about*/


/*
    .team .carousel img {
        height: 600px;
    }

    .clients .face {
        margin: 60px auto 20px;
    }

    .prices .col {
        width: 46%;
    }

    .prices .btn {
        width: 30vw;
    }

    .products {
        height: 1180px;
    }

    .products .carousel-indicators {
        bottom: 40px;
    }

    .products .carousel-caption {
        height: 1130px;
    }

    .products .carousel img {
        height: 1180px;
    }

    .products .row {
        margin-top: 25px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 15px;
    }

    .products .row .boxes {
        height: 380px;
        margin-top: 25px;
    }

    .products .btn {
        margin-top: 40px;
    }

    .share {
        padding: 30px;
        height: 150px;
    }
*/

/*
    .share .col {
        height: 55px;
        float: clear;
        width: 100%;
        display: block;
    }

    .contact .ct-box {
        width: 400px;
    }

    .map {
        padding: 28px 20px;
    }

    .map .place-info {
        width: 480px;
        padding: 50px 10px;
    }

    .footer .col {
        margin: 20px auto;
    }

    .footer .col-i {
        margin: 5px;
        width: 50px;
        height: 50px;
    }

    .footer .col-i .fa {
        width: 50px;
        height: 50px;
        font-size: 26px;
        line-height: 50px;
    }

    .footer .col-i .fa:hover {
        font-size: 30px;
    }

    #myModal1 .modal-body #carousel-example-generic9 .carousel-control {
        top: 55vw;
    }
*/
}

@media (max-width: 800px) and (min-width: 500px) {

    .section {
        width: 60%;
    }

    .menu {
        width: 50%;
    }

    .main {
        width: 50%;
    }

    .about {
        width: 50%;
    }

    .stack {
        width: 50%;
    }

    .projects {
        width: 50%
    }

    .contact {
        width: 50%
    }

    .download {
        width: 50%;
    }

    .footer {
        width: 50%;
    }


    /*
    h1 {
        font-size: 25px;
    }

    h5 {
        font-size: 13px;
    }

    p {
        font-size: 12px;
    }
*/

    /*    logo*/

    /*
    .menu .nav .logo {
        margin: 20px calc(50% - 85px) 0;
        float: clear;
        height: 90px;
        width: 280px;
    }
*/

    /*    logo*/


    /*
    .menu {
        height: 490px;
    }

    .main .hero {
        top: -45vw;
    }

    .main .hero h1 {
        font-size: 30px;
        line-height: 15px;
    }

    .main .hero h4 {
        font-size: 15px;
    }

    #knowme a span {
        width: 50px;
        height: 50px;
        margin-top: -10px;
    }
*/

    /*
    .main .hero h3 {
        font-size: 16px;
    }

    .main .carousel-indicators {
        display: none;
    }
*/

    /*    about*/

    /*
    .about {
        margin-top: -20px;
    }

    .about .container {
        padding: 10px;

    }

    .about h3 {
        font-size: 20px;

    }

    .about h6 {
        font-size: 15px;

    }

    .about p {
        font-size: 12px;
    }

    .about .face {
        min-height: 240px;
    }
*/

    /*about*/
    /*Stack*/
    /*
    .stack {
        height: 100%;
        background: #1A1A1A;
        padding: 30px;
    }

    .stack .row {
        margin-left: 50px;
        border-left: 1.5px solid #bebebe;
    }

    .stack .row .col {
        border-right: 1.5px solid #bebebe;
        padding: 20px;
        height: 130px;
        width: 350px;
    }

    .skills h3 {
        font-size: 15px;
    }
*/

    /*
    .skills .icon {
        background-color: #1A1A1A;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: 0px;
        font-size: 50px;
        box-sizing: border-box;
        line-height: 50px;
        text-align: center;
        color: #B88B58;
    }

    .skills .express img {

        background-color: #1A1A1A;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: 0px;
        font-size: 50px;
        box-sizing: border-box;
        line-height: 50px;
        text-align: center;
        color: #B88B58;

    }

    .skills .redux img {

        background-color: #1A1A1A;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: 0px;
        font-size: 50px;
        box-sizing: border-box;
        line-height: 50px;
        text-align: center;
        color: #B88B58;

    }

    .skills .ajax img {

        background-color: #1A1A1A;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: 0px;
        font-size: 50px;
        box-sizing: border-box;
        line-height: 50px;
        text-align: center;
        color: #B88B58;

    }
*/

    /*
    .skills .mern img {

        background-color: #1A1A1A;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: 0px;
        font-size: 50px;
        box-sizing: border-box;
        line-height: 50px;
        text-align: center;
        color: #B88B58;
    }


    .stack #carousel-example-generic2 {
        height: 0%;
        width: 450px;
    }

    .stack #carousel-example-generic2 .carousel-inner {
        height: 500px;
    }

    .stack #carousel-example-generic2 .carousel-indicators {
        bottom: 0px;
    }

    .carousel-indicators li {
        border-color: #b88b58;
    }

    .carousel-indicators .active {
        background-color: #b88b58;
    }
*/

    /*Stack*/
    /*    Projects*/
    /*
    .projects .col {
        width: 98%;
    }
*/

    /*    Projects*/
    /*    Contact*/

    /*
    .contact {
        padding: 20px 0;
        height: 750px;
    }

    .contact .ct-box {
        width: 310px;
    }

    Contact 2
    .contact2 {
        margin-top: 30px;
    }

    .contact2 h4 {
        margin-top: 15px;
    }
*/

    /*Contact 2*/
    /*    Contact*/
}

@media (max-width: 500px) {

    .section {
        width: 60%;
    }

    .menu {
        width: 50%;
    }

    .main {
        width: 50%;
    }

    .about {
        width: 50%;
    }

    .stack {
        width: 50%;
    }

    .projects {
        width: 50%
    }

    .contact {
        width: 50%
    }

    .download {
        width: 50%;
    }

    .footer {
        width: 50%;
    }


    /*
    .menu .nav ul li {
        width: 50%;
        margin: 0;
    }

    .main .btn {
        display: none;
    }
*/

}

/*
@font-face {
    font-family: "technology-icons";
    src: url("../fonts/technology-icons.eot");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "technology-icons";
    src: url("../fonts/technology-icons.eot");
    src: url("../fonts/technology-icons.eot?#iefix") format("embedded-opentype"),
        url("../fonts/technology-icons.woff") format("woff"),
        url("../fonts/technology-icons.ttf") format("truetype"),
        url("../fonts/technology-icons.svg?#technology-icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

# sourceMappingURL=style.css.map
*/
